
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 2rem;
}

main{
  max-width: 968px;
  margin: 0 auto;
}

h1{
  font-weight: 500;
  font-size: 2.5em;
}

.form{
  margin: 1rem 0;
  padding: 0 1rem;

  h2{
    font-weight: 500;
    color: green;
    font-size: 1.2em;
  }

  form{
    margin: 0.5rem 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .input{
    display: inline-flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 0.5rem;

    &__child{
      display: flex;
      gap: 0.5rem;
    }
    &__child:nth-of-type(1){
      gap: 0.7rem;
    }
  }

  label{
    margin-top: 0.2rem;
  }

  .text-area{
    width: clamp(250px, 80vw, 815px);
    font-family: sans-serif;
    padding: 0.3rem;
    border: 1px solid rgba(black, 0.2);
    border-radius: 4px;
    transition: 0.1s;

    &__title{
      height: 30px;
      resize: none;
    }

    &__note{
      min-height: 30px;
      height: 50px;
      resize: vertical;
    }
    
    &:focus{
      outline: 3px solid rgb(164, 164, 252);
      border-radius: 4px;
    }
  }

  .submit-btn{
    display: inline-block;
    width: 80px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8125em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
      background-color: rgba(green, 0.85);
    }
  }

  .view-btn,
  .delete-btn{
    display: inline-block;
    padding: 0.4rem 0.5rem;
    margin-right: 0.3rem;
    font-size: 0.65em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid blue;

    &:hover{
      opacity: 0.8;
    }
  }

  .view-btn{
    background-color: blue;
    color: white;
  }

  .delete-btn{
    background-color: white;
    color: blue;
  }

  .note{
    margin: 0.5rem 0;
    border: 1px solid rgba(black, 0.15);
    border-radius: 3px;
    padding: 0.5rem;

    &__list{
      text-align: initial;
      // width: clamp(300px, 88vw, 850px);
      max-width: 850px;
      margin: 0.5rem auto 0;
      display: grid;
      // align-items: flex-start;
      gap: 0.5rem;
    }

    &__desc{
      margin: 0.5rem 0 1rem;
      font-size: 0.8125em;
      // overflow-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

// modal
.modal{
  background-color: rgb(238, 238, 238);
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5em 2.5em;
  position: relative;

  &__container{
    position: fixed;
    // dim background
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    &.active{
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__content{
    width: 250px;
    overflow-wrap: break-word;
    padding: 1em 0;

    @media screen and (min-width: 968px){
      width: 400px;
    }
  }

  &__title{
    margin-bottom: 0.5rem;
  }

  &__close{
    position: absolute;
    content: '';
    top: 15px;
    right: 5px;
    padding: 0.5rem;
    cursor: pointer;

    &--line{
      width: 15px;
      height: 1px;
      background-color: black;
    }

    &--line:nth-of-type(1){
      transform: rotate(135deg) translate(1px, -1px); // translate(1px, 1px)
    }

    &--line:nth-of-type(2){
      transform: rotate(-135deg);
    }
  }
}

.error-msg{
  color: red;
  font-size: 0.75em;
  display: none;
}